/* ----------- IMPORTED FONTS ----------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');


/* ----------- CSS RESET ----------- */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-color: #484FB7;
    
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------- ROOT VARIABLES ---------- */

:root {
    font-family: "Habibi", serif;
    font-size: 1.25em;
    --green:#06A816;
    --orange:#E75D02;
    --black:#000000;
    --white:#ffffff;
}

/* ---------- GLOBAL STYLES ---------- */

h1, h2 {
    font-family: 'Kavoon';
    color: #ffffff
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: #E9BB57;
    display: inline-block;
    padding: 10px;
}

h4 {
    font-size: 1.15em;
    /* Note to myself: I made this h4 tag white so I can see where it is when I begin making the card for the personal development. I will change it to its correct color when I am finished. */
    color: #ffffff


}

nav h2 {
    visibility: hidden;
    font-size: 1.5em;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #E9BB57;
    border-radius: 15px;
    
}

nav ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 15px;
}

header, h1 {
text-align: center;
margin: 0;

}

header {
    background-color: #6B8FE7;
    padding: 20px;
    border-radius: 25px;
    height: 150px;

    
}

header p {
    color: white;
    background-color: #D9526F;
    margin: 0px;
    
}

table, th, td {
    border: 1px solid;
}





/* --------- Small - min-width: 450px Media Query ---------- */


/* ---------- Medium - min-width: 620px Media Query --------- */

/* ---------- Large - min-width: 950px Media Query ---------- */

/* ---------- XL - min-width: 1280px Media Query ----------- */



